<%- include('../header') -%>
<head>
  <link rel="stylesheet" href="/magiczoomplus/magiczoomplus.css" />
  <script src="/magiczoomplus/magiczoomplus.js"></script>
</head>
<br />
<br />
<br />
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="productBox">
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <div class="images" style="width: 75px">
                <div class="flex-colum">
                  <% for (let i = 0; i < productItem.images.length; i++) { %>
                  <img
                    class="productsideImg"
                    src="/images/<%=productItem.images[i]%>"
                    onclick="selectProductImage('<%=productItem.images[i]%>')"
                  />
                  <% } %>
                </div>
              </div>
              <div class="productImgWrapper" style="height: 450px">
                <a
                  href="/images/<%=productItem.images[0]%>"
                  class="MagicZoom"
                  data-options="zoomPosition: inner"
                >
                  <img
                    style="height: 450px"
                    data-hash="product-1"
                    class="productImg"
                    src="/images/<%=productItem.images[0]%>"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="productDetails">
          <h1 class="productHead"><%= locals.productItem.name %></h1>
          <p class="productDesc"><%= productItem.description %></p>
          <div class="d-flex">
            <div class="sizedesc">Size:</div>
            <div class="sizeBox mx-2">S</div>
            <div class="sizeBox mx-2">M</div>
            <div class="sizeBox mx-2">L</div>
            <div class="sizeBox mx-2">XL</div>
          </div>
          <div class="quantity d-flex align-items-center mt-3">
            <div class="sizedesc">Quantity:</div>
            <div class="minus btn btn-outline-secondary">-</div>
            <div class="quantityNumber mx-2">1</div>
            <div class="plus btn btn-outline-secondary">+</div>
          </div>
          <h3 class="sizedesc mt-3">RS.<%=((productItem.ourPrice))%></h3>
          <div class="product">
            <span>M.R.P : </span>
            <span><%= productItem.orginalPrice %></span>
            <% let value = parseInt(productItem.orginalPrice) -
            parseInt(productItem.ourPrice); let discount = (value /
            parseInt(productItem.orginalPrice)) * 100; %>
            <span>Discount: <%= discount.toFixed(0) %>%</span>
          </div>
          <button class="ProductAddtoCart btn btn-primary mt-3">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="line" />
  <div class="container">
    <h2 class="heading mt-4">More Products</h2>
  </div>
</body>
<script>
  // Selecting Size
  let sizeBoxes = document.querySelectorAll(".sizeBox");

  sizeBoxes.forEach((sizeBox) => {
    sizeBox.addEventListener("click", () => {
      sizeBoxes.forEach((box) => {
        box.classList.remove("active");
        box.style.background = "#ffffff";
        box.style.color = "#005159";
      });
      sizeBox.classList.add("active");
      sizeBox.style.background = "#005159";
      sizeBox.style.color = "#FFFFFF";
    });
  });

  // Increasing Quantity Number
  let quantityNumber = document.querySelector(".quantityNumber");
  let plusBtn = document.querySelector(".plus");
  let minusBtn = document.querySelector(".minus");

  plusBtn.addEventListener("click", () => {
    quantityNumber.textContent++;
  });

  minusBtn.addEventListener("click", () => {
    if (quantityNumber.textContent > 1) {
      quantityNumber.textContent--;
    }
  });

  // Adding Product to Cart
  let addToCartBtn = document.querySelector(".ProductAddtoCart");

  addToCartBtn.addEventListener("click", () => {
    let selectedSize = document.querySelector(".sizeBox.active");
    let quantity = quantityNumber.textContent;
    let product = document.querySelector(".productHead").textContent;
    let rate = document.querySelector(".sizedesc").textContent;

    console.log("Product: " + product);
    console.log("Size: " + selectedSize.textContent);
    console.log("Quantity: " + quantity);
    console.log("Rate: " + rate);
  });
</script>
<script>
  const smallImages = document.querySelectorAll(".flex-colum img");
  const largeImage = document.querySelector(".productImgWrapper img");
  const largeAhref = document.querySelector(".productImgWrapper a");
  const overlay = document.createElement("div");
  overlay.classList.add("overlay");
  largeImage.parentElement.appendChild(overlay);
  smallImages.forEach((img, index) => {
    img.addEventListener("mouseover", () => {
      const imgSrc = img.getAttribute("src");
      largeImage.setAttribute("src", imgSrc);
      largeAhref.setAttribute("href", imgSrc);
    });
  });
</script>
