<body class="rafcolour">
  <header><%- include('header') -%></header>
  <br />
  <br />
  <br />
  <div class="outer-box">
    <img class="inner-img" src="/images/qw1233.jpg" alt="Product Image" />
    <div class="productinfo">
      <div class="flex">
        <div class="product-id">Product ID:</div>
        <div class="product-id-value"><%= product.category %></div>
      </div>
      <div class="flex">
        <div class="product-id">Status:</div>
        <%if(product.isActive){%>

        <div class="status-value">Active</div>
        <% } else{ %>
        <div class="status-value">InActive</div>
        <% } %>
      </div>
    </div> 
    <div class="text-block">
      <div class="plain-pattern">
        Color: <span class="pink-color"><%= product.colour %> </span>
      </div>
      <div class="plain-pattern">
        Pattern: <span class="pink-color"><%= product.pattern %></span>
      </div>
      <div class="plain-pattern">
        Gender Type: <span class="pink-color"><%= product.genderType %></span>
      </div>
      <div class="plain-pattern">
        Category: <span class="pink-color"><%= product.category %></span>
      </div>
    </div>
    <div class="sizes-box">
      <div class="heading">Quantity</div>
      <div class="sizes">
        <div class="size">Small: <%= product.category %></div>
        <div class="size">Medium: <%= product.category %></div>
        <div class="size">large: <%= product.category %></div>
        <div class="size">X-Large: <%= product.category %></div>
      </div>
    </div>

    <div class="prices mx-auto">
      <div class="product-price">Product Price:</div>
      <div class="product-price-value">RS.<%= product.category %>.00</div>
      <div class="product-price">Actual Price:</div>
      <div class="product-price-value">RS.<%= product.category %>70.00</div>
      <span class="shorttext"> (After deducting 5% cut to us)</span>
    </div>
    <div class="flex-column">
      <div class="action-box1">
        <span class="action-text">Edit</span>
      </div>
      <div class="action-box1">
        <span class="action-text">Delete</span>
      </div>
    </div>
  </div>
</body>
